<div class="card bg-card" style="color: aliceblue;">
  <div class="card-header">
    Detalle Animal
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group text-white mb-3">
          <li class="list-group">
            <div class="col-sm">
              <img src="http://localhost:8087/api/uploads/image/{{animal.image}}" class="img-thumbnail row" style="width: 300px;">
            </div>
          </li>
          <li class="list-group">{{ animal.name }}</li>
          <li class="list-group">{{ animal.monthBenefits| currency:'EUR':'symbol':'3.2-2'}}</li>
          <li class="list-group">{{ animal.price | currency:'EUR':'symbol':'3.2-2'}}</li>
          <li class="list-group">{{ animal.bornAt }}</li>
        </ul>
        <div class="input-group">
          <div class="custom-file">
            <input (change)="seleccionarImagen($event)" type="file" class="custom-file-input" id="inputImg">
            <label for="inputImg" class="custom-file-label">Buscar Imagen</label>
          </div>
          <div class="input-group-append">
            <button (click)="subirImagen()" class="btn btn-outline-info">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



